body {
    background-color: #e5d5bf;
}

input {
    border: 1px solid #efefef;
    padding: 10px;
    margin: 10px;
}

.lobster {
    font-family: 'Lobster', cursive, sans-serif;
}

body {
    background-color: #e5d5bf;
}